body {
    background-color: rgb(148, 7, 148);
    font-family: sans-serif; 
    margin: 0; 
  }
  
  .content {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    max-width: 70%;
  }
  
  button {
    background-color: rgb(148, 7, 148);
    border: none;
    padding: 5px 10px; 
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer; 
  }
  

  @media (max-width: 768px) {
    .content {
      font-size: 14px; 
    }
  
    button {
      font-size: 14px; 
    }
  }
